<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Part</title>
</head>
<body style="background-color: whitesmoke">

         <h1>Enter youtube Link</h1>

        <form class="url_part" action="" method="post">
          {% csrf_token %}
          URL: <input type="text" name="url"><br>
              <input type="submit" value="Download" name="download">
        </form>

        <form class="button_1" action="{% url 'stories' %}">
            <input type="submit" value="stories" name="story">
        </form>

</body>
</html>